extends layout

block content
	div.container-fluid
		div.jumbotron
			h1.text-center Voting Machine
			h2.text-center Start Voting!
	
	div.container-fluid
		div.jumbotron
			div.list-group
				each elem in data
					a.text-center.list-group-item(href='/polls/'+elem._id)= elem.question
