extends layout

block content
	div.container-fluid
		div.jumbotron
			h1.text-center My Polls

	div.container-fluid
		div.jumbotron
			div.list-group
				each elem in data
					a.list-group-item.text-center(href='/polls/'+elem._id)= elem.question
