extends layout

block scripts
	script.
		function changed() {
			var title = $('#i_title').val();
			var opts = $('#i_opts').val();
			if (title != '' && opts != ''){
				$('#submit').prop('disabled',false);
			}else{
				$('#submit').prop('disabled',true);
			}
		}
		$('#i_title').change(changed);
		$('#i_opts').change(changed);

block content
	div.container-fluid
		div.jumbotron
			h1.text-center New Poll

	div.container-fluid
		div.jumbotron
			form#pform(method='post' autocomplete='off')
				div.form-group
					label(for='i_title') Title Of Your Poll
					input.form-control#i_title(type='text' name='title')

				div.form-group
					input(type='hidden',name='_csrf',value=csrfToken)
					label(for='i_opts') Enter Your Options, One per line.
					textarea.form-control#i_opts(form='pform' name='opts' rows=8)

				input.btn.btn-primary#submit(disabled type="submit" value='Ask It!')
